In [73]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import re
import nltk
from nltk import word_tokenize
from nltk.corpus import stopwords 
stop_words = set(stopwords.words('english'))
from nltk.stem.porter import PorterStemmer
porter_stemmer  = PorterStemmer()

In [ ]:
df = pd.read_csv('skills.csv')

In [ ]:
df.groupby(['skills']).size()

In [ ]:
df.drop_duplicates(subset ="skills", inplace = True)

In [ ]:
df.shape

In [ ]:
df = df[df.skills.str.contains('telecommuting not available travel')==False]

In [ ]:
df.skills = df.skills.str.lower()

In [ ]:
from wordcloud import WordCloud, STOPWORDS

def word_cloud(data,color='black'):
    wordcloud = WordCloud(background_color=color, stopwords=STOPWORDS, max_words=200, max_font_size=40,  random_state=23)
    wordcloud = wordcloud.generate(str(data))
    fig = plt.figure(1, figsize=(20, 20))
    plt.imshow(wordcloud)

In [ ]:
def get_skil_frequancy(data):
    ret = dict()
    #print(data)
    token = data.split(',')
    print(token)
    print(len(token))

In [ ]:
patterns = [(r'and', ', '),(r'\n',' '),(r'or',' '),(r'\\',' '),(r'/',' '),(r'\(',' '),(r'\)',' '),(r' +', ' ')
            ]

In [ ]:

def replace_pattern(text):
    for (rgx,replace) in patterns:
        text = re.sub(rgx,replace,text)
    return text

In [ ]:
def remove_word(text):
    ret = list()
    for word in text.split(','):
        if word not in stop_words:
            ret.append(word)
    
    ret = ' '.join(ret)
    return ret

In [ ]:
text = ' '.join(df.skills)

In [ ]:
text

In [ ]:
text = text.replace('\\',' ')
text = text.replace('/',',')
text = text.replace('and',',')

#text = replace_pattern(text)
#text = remove_word(text)

In [ ]:
text

In [ ]:

def GetFreqCount(text):
    '''
    This method return dictonary of word with frequencies
    '''
    skill_cnt = {} 
    for skill_desc in text.split(',') :
        skill_desc = skill_desc.strip()
        skill_desc_words = skill_desc.split()
        if len(skill_desc_words) <= 3:
            if skill_desc in skill_cnt:
                skill_cnt[skill_desc] = skill_cnt[skill_desc]+1
                
            else:
                skill_cnt[skill_desc] = 1
    return  skill_cnt

In [ ]:
def ConvertDictToList(dic):
    '''
    This method convert dictonary to list data type
    '''
    dictList = list()
    for key in dic.items():
        temp = [key,dic[key]]
        dictList.append(temp)
    return dictList

In [ ]:
cnt = GetFreqCount(text)

In [ ]:
cnt

In [ ]:
cnt = pd.DataFrame(list(cnt.items()), columns=['skill', 'count'])

In [ ]:
cnt.sort_values(['count'],ascending=False)

In [ ]:
cnt[cnt.skill=='vmware']

In [ ]:
def count_words(text):
    skill_desc_words = text.split()
    return len(skill_desc_words)

In [ ]:
cnt['word_count'] = cnt.skill.apply(count_words)

In [ ]:
cnt[cnt['skill'] =='informatica']

In [ ]:
#remove the uneccesassry list
noskill = ['project','management']

In [ ]:
one_word_skills = cnt[(cnt['word_count']==1) & (~cnt.skill.isin(noskill))].sort_values(['count'],ascending=False)# ['development','project']

In [ ]:
one_word_skills#one_word_skills[one_word_skills['skill']=='informatica']

In [ ]:
one_word_skills = one_word_skills[one_word_skills['count']>10]

In [74]:
def stem(data):
    tokenization = nltk.word_tokenize(data)
    sentence = ''
    for w in tokenization :
        if w not in stop_words:
            w= porter_stemmer.stem(w.lower())
            sentence  = sentence+' '+w
    return sentence

In [76]:
one_word_skills['stem skill'] =one_word_skills.skill.apply(stem) #one_word_skills.to_csv('one_word_skill.csv')

C:\Users\Pawan\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [77]:
one_word_skills

             skill  count  word_count    stem skill
119            sql   1493           1           sql
30     development   1400           1       develop
58            java   1266           1          java
31      javascript   1177           1    javascript
8            linux    851           1         linux
265           html    769           1          html
136            css    715           1           css
20        security    645           1         secur
111         python    644           1        python
24              c#    591           1           c #
101         oracle    575           1         oracl
63         manager    520           1         manag
7        developer    501           1       develop
232        testing    469           1          test
130         jquery    462           1        jqueri
141    programming    458           1       program
17            http    457           1          http
262   architecture    452           1   architectur
427          agile    439           1          agil
1             unix    435           1          unix
145           j2ee    421           1          j2ee
84        database    409           1       databas
57             c++    372           1           c++
464          mysql    367           1         mysql
197       analysis    355           1       analysi
18      networking    354           1       network
49           excel    354           1         excel
40        hardware    351           1       hardwar
61      consulting    332           1       consult
134            xml    316           1           xml
...            ...    ...         ...           ...
1685         as400     12           1         as400
2360            10     12           1            10
2554           sqr     11           1           sqr
3710            gl     11           1            gl
1267  optimization     11           1         optim
4498       clojure     11           1        clojur
2205          esxi     11           1          esxi
812         ubuntu     11           1        ubuntu
6240     budgeting     11           1        budget
1302             z     11           1             z
409       medicaid     11           1      medicaid
3152           dlp     11           1           dlp
1367    xendesktop     11           1    xendesktop
4634           bsa     11           1           bsa
3140     configure     11           1      configur
3698       hyper-v     11           1       hyper-v
7246           jde     11           1           jde
3061          fico     11           1          fico
2295     security+     11           1     security+
1011      sourcing     11           1         sourc
6837      staffing     11           1          staf
5469          vsam     11           1          vsam
3463          vlan     11           1          vlan
4195           vpc     11           1           vpc
153    procurement     11           1        procur
2403     mainframe     11           1      mainfram
2565       xamarin     11           1       xamarin
4149            hp     11           1            hp
3299           iot     11           1           iot
710         intern     11           1        intern

[601 rows x 4 columns]

In [87]:
one_word_skills = one_word_skills[one_word_skills.groupby(['stem skill'])['count'].transform(max) == one_word_skills['count']]

In [88]:
one_word_skills.to_csv('one_word_skill_stemm.csv')